<div style="font-size:16px; background-color: lightblue;border: 2px solid gray;">
    <h2 style ="text-align:left; padding-top:5px;"> CS 101 - Foundation of Data Science and Engineering (Spring 2023) </h2>
    <p><b> PSET-7 - Object Oriented Programming
    
<b></p> <br>
</div>

### Objective:
 
**In this assignment you will be working with Class, Objects and Inheritance that was discussed in the class.**

### Assignment Goal:
**Tasty soup is a soup and salad restaurant located between Harvard and MIT campus. In this assignment you will design two classes to help Tasty Soup restaurant manage their frequent dining program to attract student customers.**

### This is an individual assignment. No collaboration is allowed.

### Question 1: (10 pts)
**Create a class called Account with the following attributes:**

**1. cust_num : a 4 digit number to store student id. Example: 1000, 1001, 1002**

**2. u_name : a string to store student's university name. For the purposes of this assignment only 3 names are allowed. HARVARD, MIT, and OTHERS(all case sensitive).**

**Please be sure to include a constructor that can initialize the class with the above attributes. Assume inputs passed to your class will always be correct i.e. you are not required to check types, and verify uppercase or lower case.**

In [430]:
#your code here
class Account:
    def __init__(self, num, name):
        #student id must be 4 digits
        if len(str(num)) != 4:
            raise ValueError("Not a valid student ID")
        self.cust_num = int(num)
        
        #university must be in allowed names
        allowed = ['HARVARD', 'MIT', 'OTHERS'] 
        if name not in allowed:
            raise ValueError("Not a valid name")
        self.u_name = str(name)

###  Question 2: (40 pts)

**Create a class called Order which is a subclass of Account with the following attributes and methods.**

**Attributes (5 points) :**

**Private attributes**

**1. midterm  : (int) stores the midterm score of a student for CS101. Assume all universities offer this class. This is a private attribute. In python private members are stored by adding 2 underscores in front of the name of the variable. Example: midterm will be stored as __midterm**

**2. password : (string) stores the password of the student. If a student forgets his password, this will be set to "0". No logic required here. This is simply a default value for password if nothing was passed in your constructor for password.**

**Public attributes:**

**3. meal_cost : (float) the cost of the meal purchased.**

**4. balance : (int) stores the total frequent dining points.**

**Methods 1-4(15 points) :**

**1. get_balance : returns the frequent dining balance for a student.**

**2. get_midterm : returns the midterm score for the student**

**3. get_password : returns the password of the student.**

**4. set_midterm: sets/updates the midterm of the student**

**5. 
    update_balance : Updates the frequent dining points for a student after each meal using the rules defined below (20 pts) :**

**5a. All students who purchase a meal that is equal to or greater than 15 dollars will earn 10 frequent dining points.**

**Please Note: Parts 5b to 5f is only applicable if 5a is True.**

**5b. An Extra 5 points will be awarded for every 15 dollars spent in addition to 5a.
     Example if student purchases a meal of 15 dollars he is awarded 10 points based on 5a only. A student purchase of 30 dollars will result in an award of 15 points,  a purchase of 45 dollars will result in 20 points, and a purchase of 50 dollars will result in 20 points. Your code should be able to handle any meal cost. Think about a student who throws a party for his friends every weekend. He may end up spending 1000's of dollars.**

**5c.  If a student is from HARVARD he will be awarded an extra 5 points per meal in addition to the
        above critera.**

**5d. If a student is from MIT he will be awarded an extra 3 points in addition to the above <br>
        criteria per meal.**

**5e. Student belonging to OTHER are not awarded any extra points, but only points based on <br>
        criteria 5a, and 5b**

**5f. Students who have scored 80 points or above in the midterm of CS101 are awarded 3 extra points. This is a pilot program, and is offered only to HARVARD Students (One more reason to take CS101 at Harvard)**

**5g. If a student has forgotten his password i.e. if the value of password is set to "0" , their frequent dining points are reset to 0. In addition no points are awarded for any meal purchases.**

**Note :update_balance should be called at an instance level not inside the class. See example at Question-3 for usage. See also the the order of parameters being passed in constructor**

In [431]:
#your code here

class Order(Account):
    #Attributes
    def __init__(self,num, name, mid, meal, pw = 0, bal = 0):
        
        super().__init__(num, name)
        #private
        self.__midterm = int(mid) 
        self.__password = str(pw)
        
        #public
        self.meal_cost = float(meal) 
        self.balance = int(bal) #total freq dining points

    #Methods
    def get_balance(self):
        return self.balance
    
    def get_midterm(self):
        return self.__midterm
    
    def get_password(self):
        return self.__password

    def set_midterm(self, mid):
        self.__midterm = mid

    def update_balance(self):
        #points for meal cost
        if self.meal_cost >= 15:
            self.balance += 10
            if self.meal_cost >= 30:
                mult = int((self.meal_cost / 15) - 1) #5 points for every additional $15
                self.balance += mult * 5
        
        #points for school     
            #only valid if spend >= $15
            if self.u_name == "HARVARD":
                self.balance += 5
                if self.__midterm >= 80: #points for midterm
                    self.balance += 3
            if self.u_name == "MIT":
                self.balance += 3
        
        #clear points if forgot password
        if self.__password == '0':
            self.balance = 0
            
        return self.balance

### Question-3 - Testing your code (10 pts)
Write at least 5 test cases to test different parts of your implementation. We have provided an example. You will get full points as long as you have 5 test cases and a description of what is being tested. You are welcome to write your test cases using python unit test library. However, it is not required.

In [432]:
#Example - Test Account class constructor with cust_num 1001, and u_name HARVARD
account = Account(1001, "HARVARD")
print(f"Customer number is : {account.cust_num} \nUniversity:{account.u_name}")

Customer number is : 1001
University:HARVARD

In [433]:
#Example - Test frequent dining points for MIT student with cust_num =1001, u_name = "MIT"
# midterm = 85, meal_cost = 18, password = 'abcd'
mit_student_order = Order(1001,"MIT", 85, 18, 'abcd')
mit_student_order.update_balance()
print(f"The students frequent dining balance = {mit_student_order.balance}")

The students frequent dining balance = 13

In [ ]:
#your tests here

In [434]:
#Test Account class with invalid school name
schoolfail = Account(2930, "MIA")

ValueError: Not a valid name

In [435]:
#Test get_midterm and set_midterm functions
#cust_num: 1000, u_name: HARVARD, midterm: 70, meal_cost: 15, password: bubblegum
midtest = Order(1000, "HARVARD", 70, 15, "bubblegum")
ogmid = midtest.get_midterm()
midtest.set_midterm(90)
newmid = midtest.get_midterm()

print(f"Original midterm: {ogmid} \nUpdated midterm:{newmid}")

Original midterm: 70
Updated midterm:90

In [436]:
#Test freq dining points for student who forgot password
#Points cleared and no new points earned for meal
#cust_num: 1000, u_name: MIT, midterm: 94, meal_cost: 30, password: 0

baltest = Order(1000, "MIT", 94, 30, bal = 39)
startbal = baltest.get_balance()
newbal = baltest.update_balance()

print(f"Start balance: {startbal} \nUpdated balance:{newbal}")

Start balance: 39
Updated balance:0

In [437]:
#Test extra points awarded for school
#cust_num: 2000, midterm: 73, meal_cost: 15, password: phishphood, balance: 100
#Expected: 10 points for meal, +5 (Harvard), +3 (MIT), +0 (OTHER)

for s in ["HARVARD", "MIT", "OTHERS"]:
    baltest2 = Order(2000, s, 73, 15, "phishphood", 100)
    print(f"Updated balance {s}: {baltest2.update_balance()}")

Updated balance HARVARD: 115
Updated balance MIT: 113
Updated balance OTHERS: 110

In [438]:
#Test midterm extra points for HARVARD student
#cust_num: 1412, u_name: HARVARD, meal_cost: 15, password: umbre11a, balance: 0
#Expected: all +5 for being Harvard student, +3 for midterm = 80, +3 for midterm above 80
for m in [70, 80, 90]:
    midbal = Order(1412, "HARVARD", m, 15, "umbre11a")
    print(f"Midterm score {m}: {midbal.update_balance()}")

Midterm score 70: 15
Midterm score 80: 18
Midterm score 90: 18

In [439]:
#Test get password function and default password value
passtest = Order(1932, "MIT", 91, 29, "blue42")
print(f"Password: {passtest.get_password()}")

passtest2 = Order(1932, "MIT", 91, 29)
print(f"Default Password: {passtest2.get_password()}")

Password: blue42
Default Password: 0

### Question 4-8 (30 points)
**Absolute Tests - For Question 4-8 simply run the cell below. We will verify your output with expected outputs.
You implementation should be based on the requirement and not these test cases. If you have implemented the requirement correctly, your output should be as expected. Please do not modify the code for question 4-8**


### Question 4: Test Class and Objects were created (3 pts)

In [440]:
test1 = [(1000, 'HARVARD', 89,16.95,'abcd'),(1001, 'MIT', 89, 16.95, "defg"),\
         (1002, 'OTHERS', 89, 16.95, "ghij")]


for test in test1:
    order = Order(test[0],test[1],test[2],test[3],test[4])
    order.update_balance()
    student_info = f"Order specifics: \n u_name : { order.u_name}, \
    cust_num {order.cust_num}, \
    midterm :{order.get_midterm()}, \
    meal_cost:{order.meal_cost}  \
    balance:{order.get_balance()} \n"
    
    print(student_info)

Order specifics:
 u_name : HARVARD,     cust_num 1000,     midterm :89,     meal_cost:16.95      balance:18

Order specifics:
 u_name : MIT,     cust_num 1001,     midterm :89,     meal_cost:16.95      balance:13

Order specifics:
 u_name : OTHERS,     cust_num 1002,     midterm :89,     meal_cost:16.95      balance:10

### Question 5: Test update_balance for one HARVARD Student(10 pts)

In [441]:
import numpy as np
test2 = (1000, 'HARVARD', 89, 0, "abcd")
meal_costs = np.arange(0,1000, 100) 

order = Order(test2[0],test2[1],test2[2],test2[3],test2[4])
order.update_balance()

for meal_cost in meal_costs:
    order.meal_cost = meal_cost
    order.update_balance()
    print(f"Balance with meal cost {order.meal_cost} is: {order.get_balance()}")

Balance with meal cost 0 is: 0
Balance with meal cost 100 is: 43
Balance with meal cost 200 is: 121
Balance with meal cost 300 is: 234
Balance with meal cost 400 is: 377
Balance with meal cost 500 is: 555
Balance with meal cost 600 is: 768
Balance with meal cost 700 is: 1011
Balance with meal cost 800 is: 1289
Balance with meal cost 900 is: 1602

### Question 6: Test update_balance for one MIT Student(9 pts)

In [442]:
import numpy as np
test3 = (1002, 'MIT', 89, 0, "9879")
meal_costs = np.arange(0, 300, 100) 

order = Order(test3[0],test3[1],test3[2],test3[3],test3[4])
order.update_balance()

for meal_cost in meal_costs:
    order.meal_cost = meal_cost
    order.update_balance()
    print(f"Balance with meal cost {order.meal_cost} is: {order.get_balance()}")

Balance with meal cost 0 is: 0
Balance with meal cost 100 is: 38
Balance with meal cost 200 is: 111


### Question 7: Test update_balance for OTHERS(4 pts)

In [443]:
import numpy as np
test3 = (1002, 'OTHERS', 89, 0, "9111")
meal_costs = np.arange(1000, 2100, 500 ) 

order = Order(test3[0],test3[1],test3[2],test3[3],test3[4])
order.update_balance()

for meal_cost in meal_costs:
    order.meal_cost = meal_cost
    order.update_balance()
    print(f"Balance with meal cost {order.meal_cost} is: {order.get_balance()}")

Balance with meal cost 1000 is: 335
Balance with meal cost 1500 is: 840
Balance with meal cost 2000 is: 1510

### Question 8: Test update_balance for students who have forgotten their passwords(4 pts)

In [444]:
import numpy as np
test4 = (1000, 'HARVARD', 89, 0, "0")
meal_costs = np.arange(0, 300, 100) 

order = Order(test4[0],test4[1],test4[2],test4[3],test4[4])
order.update_balance()

for meal_cost in meal_costs:
    order.meal_cost = meal_cost
    order.update_balance()
    print(f"Balance with meal cost {order.meal_cost} is: {order.get_balance()}")

Balance with meal cost 0 is: 0
Balance with meal cost 100 is: 0
Balance with meal cost 200 is: 0

### Question 9 (5 pts)

**Working with Class and objects is very important in data science
You will be working with a lot of api's which are all created using class and objects.
You have already worked with pandas. Let's tie what you have learned in this homework
with what you have already learned. Run the cell below, and answer the question that follow**

In [428]:
import pandas as pd
midterm_scores = [96,90,85]
df = pd.DataFrame(midterm_scores, columns=['midterm_scores'])

shape = df.shape
print(shape)
df.sort_values(by='midterm_scores', ascending=False)

(3, 1)

   midterm_scores
0              96
1              90
2              85

1. Identify the class name and the parameters which is being used to create the object df. (2pt)
2. Identify the attribute being called on the object df. (1pt)
3. Identify the method, and the method parameters being called by our object df. (2 pt)

**your answer here**
1. class name: pd.DataFrame
   parameters: data = midterm_scores, columns = ['midterm_scores']

2. .shape (shape of the object)

3. method: sort_values, parameters: by = 'midterm_scores', ascending = False


### Coding style (5pts)
Please make sure your code follows the coding style as defined here.

1. Comments on functions. (1 pts)
2. Additional comments on parts of code that maybe difficult to understand (1 pts)
3. Remove any commented code i.e. your solution should only include the code required by the assignment. All experiemental code needs to removed on the submitted file. (1 pts)
4. Code Readibility (if part of your code is long, use multiple lines) (2 pts)

### Submission on Gradescope

Submit a pdf of this notebook, and the actual notebook. 

For pdf : In your browser open print, and save as pdf. Name the pdf LastNameFirstName.pdf
example: DoeJohn.pdf

Name this jupyter notebook with the same format LastNameFirstName.ipynb


All outputs need to be visible. We need all 2 files to assign grades. 

Drop all the files in gradescope under PSET-7